# ignore python compiled files
src/__pycache__/

# ignord pycharm ide config files
.idea/

# ignore shapefiles
data/kit_191218/shp/

# ignore dgm
data/dgm/

# ignore point cloud
data/punktwolke/

# ignore qgis maps
data/treemap_berlin_pariserplatz.qgz
data/treemap_kit_nord.qgz

# ignored output file
data/export.citygml
data/export_kunz_david.citygml

# exportierte daten
data/export_beispiele/

# ignore python test file
src/test.py

# SpatiaLite
src/libfreexl-1.dll
src/libgcc_s_seh-1.dll
src/libgeos_c-1.dll
src/libgeos-3-6-2.dll
src/libiconv-2.dll
src/libiconv-2.dll
src/liblzma-5.dll
src/libproj-13.dll
src/librttopo-1.dll
src/libsqlite3-0.dll
src/libstdc++-6.dll
src/libwinpthread-1.dll
src/libxml2-2.dll
src/mod_spatialite.dll
src/zlib1.dll

# build
build/